.trash/
__pycache__/extract_jackets.cpython-310.pyc
pages-old/AffCutter.html
pages-old/AffSpeedChanger.html
pages-old/b30gen.html
pages-old/cstgen.html
pages-old/divgen.html
pages-old/gif.html
pages-old/index.html
pages-old/p30gen.html
json-old/Different_Illustration.json
json-old/Different_SongName.json
json-old/sql.json
json-old/sql2.json
json/query.csv
css-old/b30gen.css
css-old/cstgen.css
css-old/divgen.css
css-old/index.css
css-old/particle.css
css-old/playresult.css
