body{
	width: 80%;
	margin: 0 auto;
}

#constantSheet{
	width: 100%;
	border: 1px solid red;
}

.constant {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	box-sizing: border-box;
	border: 2px blue solid;
	position: sticky;
	top: 0px;
}

.constant img{
	height: 50px;
}

.singleRow{
	box-sizing: border-box;
	border: 2px solid green;
	float: left;
	display: flex;
	flex-wrap: wrap;
}
.single{
	flex: 0 0 20%;
	box-sizing: border-box;
	border: 1px solid black;
	float: left;
	padding: 5px;
	position: relative;
}
.singleImage{
	position: relative;
	margin:0 auto;
	width: 100px;
}

/* .singleImage::after{
	display: block;
	height: 100px;
	width: 100px;
	content: "";
	background-color: green;
	margin-top: 10px;
} */

.single::after {
    content: "";
    display: block;
    width: 105px;
    height: 105px;
    background-color: purple;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: -1;
}
.single::before {
    content: "";
    display: block;
    width: 105px;
    height: 105px;
    background-color: purple;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: -1;
}

.singleSongname,
.singleConstant{
	display: inline-block;
	width: 110px;
	text-align: center;
}
